@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  /* background: linear-gradient(180deg, #0c1b27, #aaafb8); */
  background: url(./assets/img/wpm-bg4.png);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  padding: 0;
}

/* HEADER CSS */

.header {
  width: 100%;
  height: 15vh;
  margin: 0;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 40px !important;
}

.logo-title {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  margin-left: 50px;
}

.logo {
  width: 150px;
  height: 150px;
  /* background: linear-gradient(180deg, #0c1b27, #aaafb8); */
  border-radius: 50%;
  margin-right: 0px;
  margin-top: 10px;
}

.title h2,
.title h3 {
  /* background: rgb(146, 146, 60); */
  margin: 0;
  text-align: start;
}

/* BODY CSS */

.main {
  margin: 10px;
  height: 100%;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main-body {
  width: 90% !important;
  height: 85vh;
}

.main-body h2 {
  color: #ffffff;
  font-size: 30px;
}

.big-row {
  width: 100%;
  height: 100%;
}

.fees {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.instructions {
  width: 90%;
  height: 27%;
  background: linear-gradient(180deg, #729a28, #192602);
  border-radius: 40px;
  border: 1px solid #9ae908;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.instructions:hover {
  transform: scale(1.02);
}

.instructions ul {
  width: 100%;
  height: 60%;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-evenly;
}

.fees h3 {
  height: 12%;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 45px;
  color: #e2fdaf;
}

.run-fees {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.child {
  height: 100%;
  width: 31% !important;
  background: linear-gradient(180deg, #729a28, #192602);
  border-radius: 20px;
  border: 1px solid #9ae908;
  transition: 0.3s ease-in-out;
}

.child:hover {
  transform: scale(1.02);
}

.label {
  color: #ffffff;
  font-size: 18px;
}

.in-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.select {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.buttons {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 20%;
}

.documents {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.my-documents,
.update-schedules {
  background: linear-gradient(180deg, #729a28, #192602);
  border-radius: 20px;
  border: 1px solid #9ae908;
  transition: 0.3s ease-in-out;
}

.my-documents {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.my-documents:hover,
.update-schedules:hover {
  transform: scale(1.01);
}

.dividing-line {
  height: 3px;
  background: #e2ffac;
  border-radius: 20px;
  width: 97%;
  align-self: center;
}

.update-schedules {
  height: 72%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
  color: #e2fdaf;
}

.schedules-sheets {
  display: flex;
  width: 70%;
  height: 65%;
  font-size: 22px;
  justify-content: space-between;
  color: #ffffff;
}

.schedules-sheets ul {
  list-style: none;
}

.update-schedules Form {
  width: 75%;
  height: 31%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.update-schedules Button,
.update-schedules .label {
  align-self: center;
  font-size: 17px;
  height: 30%;
}

/* TITLES WITH ICONS */
.with-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  justify-content: space-around;
  color: #ffffff;
}

.with-icons .icons {
  font-size: 25px;
}

/* INSTRUCTIONS */

.instructions-current {
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px;
}

.instructions-current h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  height: 20%;
  font-size: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.instructions-current ul {
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  /* background: rgba(0, 195, 255, 0.433); */
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin-top: 2%;
  border-radius: 10px;
}

.run-and-update {
  width: 100% !important;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 15px;
  padding-bottom: 40px;
}

/* .fees h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-bottom: 1px solid black;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 8%;
} */

Button {
  background: #83c20d !important;
  border: 0 !important;
  transition: 0.3s ease-in-out !important;
}

Button:hover {
  transform: scale(1.06);
}

.in-form a {
  text-decoration: none;
}

.in-form a Button {
  display: flex;
  flex-direction: row;
  background: #6b833e !important;
  align-items: center;
  justify-content: space-between;
}

/* main color: #9E0402 */

/* TABLET SCREENS RESPONSIVE */
@media (min-width: 767px) and (max-width: 1023px) {
  .header {
    height: 12vh;
  }

  .main-body {
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .big-row {
    flex-direction: column !important;
    align-items: center;
    width: 100% !important;
    height: auto;
    padding-top: 5vh;
  }

  .fees {
    flex-direction: row;
    width: 100% !important;
    justify-content: space-between;
    height: 35vh;
    margin-bottom: 4vh;
  }

  .fees h3 {
    display: none;
  }

  .instructions {
    height: 100%;
    width: 50%;
  }

  .run-fees {
    flex-direction: column;
    width: 50%;
    height: 100%;
  }

  .child {
    width: 100% !important;
    height: 33%;
  }

  .child Form {
    width: 100%;
    display: row;
    padding: 0;
  }

  .select {
    flex-direction: row;
    width: 100%;
    height: 40%;
    justify-content: space-between;
  }

  .in-form .form-select,
  .in-form .mb-3 {
    width: 47%;
    height: 100%;
    font-size: 19px;
  }

  .in-form .form-control {
    background: #ffffff;
    height: 100%;
    font-size: 20px;
  }

  .buttons {
    height: 25% !important;
  }

  .buttons Button {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .with-icons .form-label {
    font-size: 22px;
    margin: 0;
  }

  .documents {
    width: 100%;
  }

  .my-documents,
  .dividing-line {
    margin-bottom: 1vh;
  }
}

/* PHONE SCREENS RESPONSIVE */
@media (min-width: 350px) and (max-width: 766px) {
  .header {
    height: 12vh;
  }

  .main-body {
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
  }

  .big-row {
    flex-direction: column !important;
    align-items: center;
    width: 100% !important;
  }

  .fees {
    width: 100% !important;
    height: 90vh;
    margin-bottom: 2vh;
  }

  .instructions {
    width: 99%;
    height: auto;
  }

  .instructions ul {
    font-size: 16px;
    list-style: circle;
  }

  .fees h3 {
    color: #69a004;
  }

  .run-fees {
    flex-direction: column !important;
    width: 100%;
    height: 70%;
  }

  .child {
    width: 100% !important;
    height: 32%;
  }

  .child Form {
    width: 100%;
    padding: 1px;
    justify-content: space-between;
  }

  .with-icons .form-label {
    font-weight: 600;
  }

  .child .with-icons {
    height: 23%;
  }

  .child .form-label {
    margin: 0;
  }

  .select {
    height: 49% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .select .form-select,
  .select .mb-3 {
    height: 49% !important;
    margin: 0 !important;
    padding: 2px;
    width: 100% !important;
  }

  .select .form-control {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .buttons {
    height: 25% !important;
  }

  .buttons Button {
    height: 100%;
    width: 25%;
  }

  .documents {
    width: 100%;
  }

  .my-documents {
    margin-bottom: 2vh;
  }

  .my-documents ul {
    font-size: 16px;
    list-style: circle;
  }

  .dividing-line {
    margin-bottom: 2vh;
  }

  .update-schedules .with-icons {
    width: 100%;
  }

  .update-schedules Form {
    width: 100%;
  }
}
